<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cat</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>
<body class="home">
    <h1>Hello, this is cat simulator. To start input cat name</h1>
<form action="add/" method="POST">
    {% csrf_token %}
  <div class="mb-3">
    <label for="name" class="form-label"></label>
    <input id="name" type="text" name="name" placeholder="input cat name here" required>
  </div>
  <button type="submit" class="btn btn-warning">CREATE</button>
</form>
</body>
</html>